#btnEliminarCarrito {
    --background: #FD0046;
}

#btnVaciarCarrito {
    --background: #FD0046;
}

#seccionBotones {
    display: flex;
    justify-content: right;
}

#seccionTotal {
    display: flexbox;
    text-align: center;
}

#btnPagar{
    --background: #FFD320;
}

ion-card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.322);
    
    transform: scale(1.05);
  
    transition: all 0.3s ease;
    
}