<ion-header  class="ion-no-border">
  <ion-toolbar>
    <ion-icon name="arrow-back" id="iconoFlecha" (click)="volverAlCarrito()"></ion-icon>
    <div id="infoTotalPago">
      <p> Total: ₡{{carrito.calcularTotal()}}</p>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <section id="infoDePago">

    <div id="titulo">
      <p>Información de pago</p>
    </div>

    <form id="form-contenedor" [formGroup]="pagoForm" (ngSubmit)="onPago()">
      <ion-item>
        <ion-label position="floating">Titular de tarjeta</ion-label>
        <ion-input type="text" required formControlName="titularTarjeta"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Número de tarjeta</ion-label>
        <ion-input type="text" required formControlName="numTarjeta"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Fecha de vencimiento </ion-label>
        <ion-input type="text" required formControlName="fechaVencimiento"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">CVV</ion-label>
        <ion-input type="password" required maxlength="3" formControlName="cvv"></ion-input>
      </ion-item>
      <ion-button shape="round" class="custom-primary" expand="full" type="submit">Pagar</ion-button>
    </form>

  </section>

</ion-content>