<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onClick()">
        <ion-icon slot="start" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <div id="titulo">
        <h4>Cuponia</h4>
        <img src="assets/img/logo.png" alt="Logo" class="logo" id="logoNav">
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar class="barraBusqueda" show-clear-button="always" placeholder="Buscar"
    (ionInput)="filtrarCuponesPorBusqueda($event)"></ion-searchbar>

  <ion-list>
    <ion-item>
      <ion-select placeholder="Selecciona una categoría" (ionChange)="filtrarCupones($event)">
        <div slot="label">Filtrar Categoría<ion-text color="danger"></ion-text></div>
        <ng-container *ngFor="let categoria of categoriasTodas">
          <ion-select-option value="{{categoria}}">{{categoria}}</ion-select-option>
        </ng-container>
      </ion-select>
    </ion-item>
  </ion-list>
 
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="3" *ngFor="let cupon of cuponesAuxFiltrado">
        <ion-card>
          <img [src]="cupon.imagen" alt="{{ cupon.nombreCupon }}" />
          <ion-card-header>
            <ion-card-title>{{ cupon.nombreCupon }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Empresa: {{ cupon.empresa.nombreEmpresa }}</p>
            <div *ngFor="let promocion of cupon.promociones">
              <p>Promoción: {{ promocion.descripcion }} </p>
              <p>Precio con promoción: ₡{{ descuento.aplicarDescuento(cupon.precio, promocion.descuento) }}</p>
            </div>
            <p>Precio regular: ₡{{ cupon.precio }}</p>
            <ion-button shape="round" class="custom-secondary" expand="full" id="btnAgregarCarrito"
              (click)="agregarCuponCarrito(cupon)">Agregar al carrito</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
