.barraBusqueda {
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
}

ion-card {
  margin: 15px;

  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  ion-card-content {
    text-align: left;
  }
}

ion-card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.322);
  
  transform: scale(1.05);

  transition: all 0.3s ease;
  
}


ion-grid, ion-row {
  --ion-grid-padding: 0;
  --ion-grid-width: 100%;
  justify-content: center;
}

ion-col {
  display: flex;
  justify-content: center;
}

ion-card {
  width: 75%;
  max-width: 250px; 
}

#btnAgregarCarrito{
  --background: #03AFFC;
}

#titulo{
  display: flex;
}

#titulo h4 {
  padding-top: .95%;
}
