.registro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.tituloLogo {
    font-family: "Jaro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.9em;
    color: #666666;
}

.titulo {
    text-align: center;
}

.subtitulos {
    font-family: "Jaro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-top: -20px;
    color: #666666;
}

.logo {
    width: 250px;
    height: 200px;
}

ion-item {
    width: 350px;
    height: 50px;
    border-radius: 250px;
    margin-bottom: 10px;
    --ion-background-color: #f0f0f0;
    color: #868686;
    position: relative;
    align-items: center;
    display: flex;
}

ion-label {
    flex: 1;
    color: #868686;
    padding-left: 16px; 
}

.styled-input {
    flex: 2;
    border: none;
    background: #f0f0f0;
    color: #868686;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 250px;
    outline: none;
}

.styled-input:focus {
    border: none;
    outline: none;
}

ion-button {
    height: 50px;
    width: 350px;
    border-radius: 100px;
    margin-top: 20px;
}

ion-button[type="submit"] {
    --background: #FFD320;
}

ion-button.custom-secondary {
    --background: #03AFFC;
}

#fechaNacimientoDiv {
    text-align: center;
}

#btnLogin {
    --background: #03AFFC;
}
